main > .workshop-section {
  background: linear-gradient(
    to bottom,
    rgb(243, 249, 250),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(235, 245, 247)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 10rem;
}
.workshop-section > .workshop-header {
  font-size: 2.5rem;
  margin: 0;
  color: rgb(67, 66, 66);
}
.workshop-section > .title-bottom-border {
  background-color: rgb(67, 66, 66);
}
.workshop-section > .details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.details-container > .detail {
  min-height: 230px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* transition: all 0.3s ease-out; */
}

.details-container > .detail > img {
  transition: transform 0.3s ease-out;
  align-self: center;
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
}
.details-container > .detail > img:hover {
  transform: scale(1.1);
}

.details-container > .detail > h5 {
  font-size: 1.1rem;
  margin: 0 0 0.5rem;
}
.details-container > .detail > p {
  text-align: center;
  margin: 0;
  color: rgb(77, 77, 77);
}

.workshop-description-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.workshop-description {
  width: 100%;
  padding: 0 1rem;
  max-width: 600px;
  font-size: 1.1rem;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workshop-goals {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 1rem;
}
.workshop-description-container img {
  width: 500px;
  border-radius: 10px;
  margin-left: 200px;
}
.workshop-leadership {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  bottom: -50px;
  left: -150px;
  width: 100%;
  max-width: 500px;
}
.workshop-description .stars {
  text-align: start;
  list-style: "â­ ";
}
.goals-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.64) 0px 3px 10px;
}
hr {
  width: 80%;
  margin: 4rem 0;
}

@media only screen and (max-width: 1100px) {
  .workshop-description-container img {
    margin-left: 300px;
  }
  .workshop-leadership {
    bottom: -100px;
    left: 0px;
  }
  .workshop-section > .details-container {
    max-width: 700px;
    /* gap */
  }
}

@media only screen and (max-width: 850px) {
  main > .workshop-section {
    padding: 4rem 0 12rem;
  }
  .workshop-description-container img {
    width: 100%;
    max-width: 400px;
    margin-left: 100px;
  }
  .workshop-leadership {
    bottom: -150px;
    left: -50px;
    width: 100%;
    font-size: 1rem;
  }
  .workshop-goals {
    width: calc(100% - 2rem);
  }
}
@media only screen and (max-width: 650px) {
  main > .workshop-section {
    padding: 4rem 0 5rem;
  }
  .workshop-description-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
  }
  .workshop-description-container img {
    width: 100%;
    max-width: 400px;
    margin: 0;
  }
  .workshop-leadership {
    position: unset;
    width: 100%;
    font-size: 1rem;
  }
  .workshop-description {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .workshop-section > .details-container {
    gap: 1rem;
  }
  .details-container > .detail {
    min-height: 200px;
    width: 180px;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .details-container > .detail > img {
    margin-bottom: 0.5rem;
    width: 2rem;
    height: 2rem;
  }

  .details-container > .detail > h5 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .workshop-section > .details-container {
    gap: 0.5rem;
  }
  .details-container > .detail {
    width: 175px;
  }
}
